body {
    display: grid;
    place-items: center;

    margin: 0 auto;
}
#form {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    width: 600px;
    height: 400px;
}
#card-front {
    display: grid;
    z-index: 2;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1/3;
    grid-row: 1/3;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 20px;
}
#card-back {
    display: grid;
    z-index: 1;
    grid-template-columns: 80% 20%;
    grid-template-rows: 2fr 1fr 2fr;
    grid-column: 2/4;
    grid-row: 2/4;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
    padding: 20px;
}
#total {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
    vertical-align: middle;
}
#cardNumber {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
}
#cardHolderName {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
}
#cardExpiration {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: left;
}
#code {
    grid-column: 2/3;
    grid-row: 3/4;
    vertical-align: top;
}
#payButton {
    grid-column: 3/4;
    grid-row: 4/5;
}
#icon {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    font-size: 200%;
    text-align: right;
    vertical-align: top;
}
#month, #year, #cvv {
    width: 60px;
}