.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    max-height: 80px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
}
.search input {
    width: 100%;
}
.search img {
    height: 20px;
    justify-content: flex-end;
    margin-left: 4px;
    margin-right: 4px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social img {
    display: block;
    max-width: 40px;
    height: auto;
    min-width: 24px;
    
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}
