.recipe-card, .search, hr, footer {
    margin: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    max-height: 80px;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
}
.search input {
    width: 100%;
}
.search img {
    height: 20px;
    justify-content: flex-end;
    margin-left: 4px;
    margin-right: 4px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social img {
    display: block;
    max-width: 40px;
    height: auto;
    min-width: 24px;
}

.recipe-card {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.recipe-card > * {
    margin: 20px;
}
.recipe-image {
    max-width: 400px;
    height: auto;
}
.recipe-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.recipe-info h2 {
    color: rgb(0, 234, 255);
}

.description {
    display: none;
}

.tags {
    border: 1px solid gray;
    border-radius: 4px;
    background-color: rgb(226, 226, 226);
    order: -1;
    max-width: fit-content;
}

.amatic-sc-regular {
  font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.amatic-sc-bold {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@media screen and (min-width: 700px) {
    .recipe-card {
        flex-direction: row;
        gap: 20px;
    }
    .description {
        display: block;
    }
}