body {
    margin: 0;
    margin-bottom: 0;
}

#head {
    background-color: #3989f8;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#body {
    background-color: lightgray;

}

nav {
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
}

h1, h3 {
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.menu {
    display: none;
}

#menu-btn {
    display: inline;
}

h3 {
    margin-top: 0;
    padding-top: 1rem;
}

#footer {
    background-color: #3989f8;
    color: white;
    text-align: center;
    display: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 700px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu {
        display: inline;
    }
    #menu-btn {
        display: none;
    }
    #footer {
        display: block;
    }
}