* {
    box-sizing: border-box;
}
    
body {
    font-size: 20px;
    max-width: 1280px;
    margin: auto;
    padding: 1em;
}
    
img {
    max-width: 100%;
}
    
.main-nav {
    list-style-type: none;
}
    
hr{
    margin-top: 50px;
}
                  