body {
    background-color: #ddd;
    font-size: 20px;
}

#content {
    max-width: 60%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 1em;
}

img {
    width: 70%;
    display: block; 
    margin: 0 auto;
}

h1, h2, p {
    text-align: center;
}
p {
    color: #035f9c;
}
.list {
    list-style-type: none;
}

#topics {
    width: 55%;
    margin: 0 auto;
}

hr {
    height: 3px;
    width: 80%;
    background-color: #035f9c;
    margin: 30px auto;
}