h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color:rgb(198, 34, 34)
}
hr {
    border: 0;
    height: 3px;
    background: rgb(228, 228, 1);
}
nav {
    display: flex;
    justify-content: right;
}
nav a {
    color:rgb(198, 34, 34);
    text-decoration: none;
    padding-right: 2rem;
}
.book {
    display: grid;
    grid-template-columns: 1fr;
}
.details {
    text-align: right;
}
.review h2 {
    text-align: left;
}
.review img {
    display: block;
    margin: 0 auto;
}
div {
    padding: 1rem;
}
footer p {
    text-align: center;
}

@media screen and (min-width: 600px) {
    .book {
        grid-template-columns: 1fr 2fr;
    }
    .book > :nth-child(2) {
        border-left: 3px solid rgb(228, 228, 1);
    }
}