:root {
    /* Colors */
  --primary-color: #A43312;
  --secondary-color: #7CDEDC;
  --accent1-color: #822E81;

  /* Fonts */
  --heading-font: "IM Fell French Canon SC";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* Color Details */
  --headline-color-on-white: var(
    --primary-color
  ); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(
    --primary-color
  ); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: white;
  --nav-background-color: var(--primary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--secondary-color);
}

* {
    font-family: var(--paragraph-font);
}

.title {
    text-align: center;
}

.main-nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#vocab_header {
    margin: 0 auto;
    width: 100%;
    max-width: 95vw;;
    height: auto;
    display: block;
    object-fit: contain;
}

#vocab_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.word {
    width: 600px;
    height: 200px;
    margin: 10px;
    padding: 20px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    flex-direction: column;
}